{{#each bucketLists}}
<div class="container-bucket-list">
  <h5>ID: {{_id}}</h5>
  <ul class="row-bucket-list">
    <li>Title: {{title}}</li>
    <li>Subtitle: {{subtitle}}</li>
    <li>Description: {{description}}</li>
  </ul>
</div>
{{/each}}
